<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>テスト</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./output.css') }}">
    
        <!-- hedder -->
        <nav class="w-full">
            <div class="mx-auto flex max-w-6xl relative h-14">
              
                <a href="/"><img class="object-cover h-full w-auto absolute left-0" src="{{ url_for('static',filename='./logo.jpg') }}" alt="image description"></a>
                <h1 class="mx-auto flex items-center text-3xl font-extrabold p-1">onpoo score manager</h1>
                <img class="object-cover  h-full w-auto scale-[1] rotate-[0deg] absolute right-0" src="{{ url_for('static',filename='./25474932.png') }}" alt="image description">
            </div>
        </nav>
    </head>
    <body>
        

        <div class="mx-auto max-w-screen-lg p-10">
            <div class="bg-white py-6 sm:py-8 lg:py-12">
                  <div class="grid gap-8 md:grid-cols-2 sm:grid-flow-col ">
                    <!-- image - start -->
                    <div class="h-fit w-full overflow-hidden rounded-lg bg-gray-100 shadow-lg mx-auto">
                      <a href="https://www.ymm.co.jp/p/detail.php?code={{ book.product_code }}"><img src="https://www.ymm.co.jp/p/cover/{{ book.product_code }}.gif" loading="lazy" class="object-cover mx-auto" /></a>
                    </div>
                    <!-- image - end -->
              
                    <!-- content - start -->
                    <div class="flex flex-col items-center justify-center sm:items-start md:py-24 lg:py-5">
                        <h1 class="mb-2 text-center text-5xl font-bold text-gray-800 sm:text-left md:text-3xl">{{ book.book_name }}</h1>
                        <h1 class="mb-2 text-center text-2xl font-bold text-gray-800 sm:text-left md:text-3xl">Songs</h1>
                        {% for song in songs %}
                        <p class="mb-4 text-sm font-semibold uppercase text-gray-800 md:text-base">　{{ song.song_name }} </p>
                        {% endfor %}
                    </div>
                    <!-- content - end -->
                  </div>
              </div>
              <a href="/">Go Back</a>
        </div>
        

    </body>
</html>