<!DOCTYPE html>

<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>テスト</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./output.css') }}">
    
        <!-- hedder -->
        <nav class="w-full">
            <div class="mx-auto flex max-w-screen-xl relative h-14">
              
                <a href="/"><img class="object-cover h-full w-auto absolute left-0" src="{{ url_for('static',filename='./logo.jpg') }}" alt="image description"></a>
                <h1 class="mx-auto flex items-center text-3xl font-extrabold p-1">onpoo score manager</h1>
                <img class="object-cover  h-full w-auto scale-[1] rotate-[0deg] absolute right-0" src="{{ url_for('static',filename='./25474932.png') }}" alt="image description">
            </div>
        </nav>
    </head>
    <body>
        <div class="mx-auto max-w-screen-xl p-10">
        
            <h2 class="text-2xl font-extrabold dark:text-white p-1">{{ que }} : search result</h2>
            <table class="w-full border-collapse  bg-white object-center text-left text-sm text-gray-500">
            <thead class="bg-gray-50">
                <tr>
                <th scope="col" class="px-6 py-4 font-medium  text-gray-900">song name</th>
                <th scope="col" class="px-6 py-4 font-medium  text-gray-900">book name</th>
                <th scope="col" class="px-6 py-4 font-medium  text-gray-900 ">added date</th>
                <th scope="col" class="px-6 py-4 font-medium  text-gray-900 ">song id</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100 border-t border-gray-100">
                {% for song in songs %}
                <tr class="hover:bg-gray-50">
                <td class="px-6 py-4 font-medium">{{ song.song_name }}</td>
                <th class="px-6 py-4 font-medium  text-blue-500 dark:text-blue-300 hover:underline"><a href="/book/{{ song.book_id }}">{{ song.parent_book.book_name }}</a></th>
                <td class="px-6 py-4 ">{{ song.created_at }}</td>
                <td class="px-6 py-4 ">{{ song.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            
            <div class="p-4 flex justify-center">
                <nav aria-label="Pagination">
                    <ul class="inline-flex items-center space-x-1 rounded-md text-sm">
                        <!-- Previous Page Link -->
                        {% if songs.has_prev %}
                            <li>
                                <a href="{{ url_for('searchsong', page=page-1, query=que) }}" class="inline-flex items-center space-x-2 rounded-full border border-gray-300 bg-white px-2 py-2 font-medium text-gray-500 hover:bg-gray-50">
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <span class="inline-flex items-center space-x-2 rounded-full border border-gray-300 bg-white px-2 py-2 font-medium text-gray-300">
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </li>
                        {% endif %}
            
                        <!-- Page Indicator -->
                        <li>
                            <span class="inline-flex items-center space-x-1 rounded-md bg-white px-4 py-2 text-gray-500">
                                Page <b class="mx-1">{{ page }}</b> of <b class="ml-1">{{ songs.pages }}</b>
                            </span>
                        </li>
            
                        <!-- Next Page Link -->
                        {% if songs.has_next %}
                            <li>
                                <a href="{{ url_for('searchsong', page=page+1, query=que) }}" class="inline-flex items-center space-x-2 rounded-full border border-gray-300 bg-white px-2 py-2 font-medium text-gray-500 hover:bg-gray-50">
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <span class="inline-flex items-center space-x-2 rounded-full border border-gray-300 bg-white px-2 py-2 font-medium text-gray-300">
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                                    </svg>
                                </span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            
        </div>
        <a href="/">Go Back</a>
    </body>
</html>